body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    color: white;
}

h1 {
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

.cont {
    display: flex;
    flex-direction: column;
}

.gray {
    color: gray;
    font-size: 21px;
}

#copyright {
    text-align: right;
}